
:root { color-scheme: light dark; }
* { box-sizing: border-box; }
html, body { padding: 0; margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, 'Noto Sans JP', sans-serif; }
button { cursor: pointer; }
